@charset "utf-8";
/*@font-face {
	font-family:siyh;
	src: url('SourceHanSansSC-Light.otf');
}*/

*,*:before,*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{ margin:0 auto; font-size:12px; font-family: "微软雅黑", "宋体",Arial, Helvetica, sans-serif; line-height:normal;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
*{ margin:0px; padding:0px;}
img { border:0px;display: block;}
html, body, div, span, iframe, map, font, img, a img, samp, strong, hr, h1, h2, h3, h4, h5, h6, b, p, blockquote, a, address, code, dl, dt, dd, ol, ul, li, form, label, table, tr, td, th {
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: normal;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}
a { color:#05a; text-decoration:none;}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	overflow: hidden;

}

html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #fff;
}
.clearfix{
	zoom: 1;
}
.fr{float: right;}
.fl{float: left;}
a:hover { color:#f00;}
.clear{ clear:both;}


.htmleaf-content {
	height: 100vh;
	background-size:cover;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}


.swiper-container > .swiper-slide,.swiper-container{
	width: 100%;
    height: 100%;
    background: #fff;
    background-size: cover;
}



@keyframes circleRoate{  
    from{transform: rotate(0deg);}  
    to{transform: rotate(360deg);}  
}  


.swiper{
    width: 3.27rem;
    height: 5.85rem;
    /*background: url(../images/m.png) center center no-repeat;
    background-size: 100% 100%;*/
    margin: .5rem auto 0;
    overflow: hidden;
}

.swiper img,.swiper_inner{
    width: 100%;
    height: 100%;
}

.swiper_inner{
    /*margin: .5rem auto 0;*/
    overflow: hidden;
}



@-webkit-keyframes rotate2d{
	0%{
		transform: rotate(0deg)
	}


	100%{
		transform: rotate(360deg)
	}
}



.slide{
	width: 100%;
	position: relative;
	height: 100vh;
}
.slide img{
	width: 100%;
}
.text{
	position: absolute;
	color: #fff;
	font-size: 0.3rem;
	display: flex;
}
.text p{
	display: block;
	width: 0.3rem;
	margin-right: 0.3rem;
	line-height: 0.38rem;
	font-family:siyh;
}
.text span{
	font-size: 0.3rem;
	background: #fff;
	color: #000;
	display: inline-block;
	width: 0.43rem;
	text-align: center;
	position: relative;
	left: -0.08rem;
	font-family:siyh;
	letter-spacing: 0;
}
.text-12{
	
	left: 0.56rem;
	top: 4.04rem;
}
.text-13{
	
	left: 0.56rem;
	top: 4.04rem;
}
.text-14{
	left: 2.7rem;
	top: 1.84rem;
}
.slide-13 img{
	transform: scale(1.2);
	transform-origin: bottom;
}
.slide-14 img{
	
}
.slide-loding{
	background: #000 !important;
}
.loading-text{
	color: #fff;
	position: absolute;
	left: 0;
	top: 5.58rem;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 0.3rem;
}

